
.book-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    height: fit-content;
    padding: 1em;
    text-wrap: wrap;
    word-wrap:break-word;
    background-color:rgb(253, 196, 91);
    border-radius: 1em;
    width: 100%;
    overflow-x: hidden;
    max-width: 30%;
}

.book-display-list{
    max-width: 100%;
}

.book-information{
    display: flex;
    flex-direction: row;

}

.book-display button{
    flex-grow: 1;
}
.book-display p{
    margin: 0.2em;
}


.review-box{
    max-height: 50vh;
    overflow: auto;
    margin-top: 1em;
}
.book-picture{
    width: 15rem;
    height: 15rem;
}
.sharing-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}