.input-template{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 1em 0;
}

.input-template label{
    width: 5em;
    margin-right: 0.5em;
    text-align:center;
}

.input-template input{
    width: auto;
    margin: 0;
    flex-grow: 1;
}