.input-template{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 1em 0;
}

.input-template label{
    width: 5em;
    margin-right: 0.5em;
    text-align:center;
}

.input-template input{
    width: auto;
    margin: 0;
    flex-grow: 1;
}

.input-template textarea{
    resize: none;
    overflow-y:hidden;
    margin: 0;
    flex-grow: 1;
    border-radius: 1em;
    height: 15em;
    outline: none;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    white-space-collapse:preserve-breaks;
}