.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 210, 126);
    padding: 1rem;
    border-radius: 1rem;
}

.login-form button{
    width: 100%;
}